<div class="menu-container d-flex flex-row mb-3 justify-content-center">
  <div class="menu-item p-2 d-flex flex-column align-items-center position-relative">
    <div>
        <span class="material-icons md-36">
          article
        </span>
      </div>
      <div>
        <%= link_to "投稿", "#", class: "stretched-link"%>
      </div>
  </div>

  <div class="menu-item p-2 d-flex flex-column align-items-center position-relative">
    <div>
        <span class="material-icons md-36">
          view_list
        </span>
      </div>
      <div>
      <%= link_to "掲示板", "#", class: "stretched-link"  %>
      </div>
  </div>

  <div class="menu-item p-2 d-flex flex-column align-items-center position-relative">
    <div>
        <span class="material-icons md-36">
          calendar_month
        </span>
      </div>
      <div>
        <%= link_to "アーカイブ", "#", class: "stretched-link"%>
      </div>
  </div>

  <div class="menu-item p-2 d-flex flex-column align-items-center position-relative">
    <div>
        <span class="material-icons md-36">
          login
        </span>
      </div>
      <div>
       <%= link_to "ログイン", "#", class: "stretched-link"%>
      </div>
  </div>
</div>

<div class="top-wrapper">
  <div class="top-inner-text slackside-one-regular">
    <h1>あなたのやらかしをおしえてください。</h1>
    <div class="famous-quote">
      <div class="quote-container bg-light">
        <div class="quote-text">
          <h3>“Life is a tragedy when seen in close-up, but a comedy in long-shot.”</h3>
        </div>
        <div class="quote-author">
          <h3>Charlie Chaplin</h3>
        </div>
      </div>
    </div>
  </div>
</div>
