<div class="top-wrapper">
  <div class="top-inner-text slackside-one-regular">
    <h1>あなたのやらかしをおしえてください。</h1>
    <div class="famous-quote">
      <div class="quote-container bg-light">
        <div class="quote-text">
          <h3>“Life is a tragedy when seen in close-up, but a comedy in long-shot.”</h3>
        </div>
        <div class="quote-author">
          <h3>Charlie Chaplin</h3>
        </div>
      </div>
    </div>
  </div>
</div>
