<div class="container pt-4">
  <div class="row">
    <div class="col-xl-6 col-lg-7 col-md-9 col-sm-11 col-xs-12 mx-auto ">
      <div class="row border rounded">
        <% if @posts.present? %>
          <%= render @boards %>
        <% else %>
          <div class="mb-3 slackside-one-regular h3">
            ポストがありません...
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
  
<%= link_to new_post_path do %>
  <div class="scroll-top  justify-content-center text-decoration-none">
    <div>　投稿</div>
    <span class="material-icons md-72">
      add_circle_outline
    </span>
  </div>
<% end %>